<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}EcoGaming{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        {% block stylesheets %}
		 <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
		<div class="navbar">
  <img src="{{ asset('img/ecogaming.png') }}" alt="Logo">
  <nav>
    <div class="adiv"><a href="/">EcoGaming</a></div>
    <div class="adiv"><a href="/section">Section</a></div>
    <div class="adiv"><a href="/information">Informations</a></div>
    <div class="adiv"><a href="/forum">Forum</a></div>
    <div class="adiv"><a href="/login">S'identifier</a></div>
  </nav>
</div>
		
	 {% block body %}
         {% block javascripts %}
             <script src="{{ asset('js/bootstrap.min.js') }}"></script>
         {% endblock %}
     {% endblock %}
       {#  <footer class="footer fixed-bottom bg-dark py-3">
            <div class="container>
                <div class="adiv" > <a href="/contact">Contact</a></div>
                <span class="text-muted">© 2023 EcoGaming</span>
            </div>
        </footer>#}

        <footer class="footer bg-dark py-3">
            <nav class="d-flex justify-content-center">
                <div class="adiv mt-0"><a href="/contact">Contact</a></div>
                <span class="text-muted">© 2023 EcoGaming</span>
            </nav>
        </footer>


        {# <footer class="footer fixed-bottom bg-dark py-3">
	 <nav>
	 <div class="adiv mt-0"><a href="/contact">Contact</a></div>
	 <span class="text-muted">© 2023 EcoGaming</span>
	 </nav>
	 </footer> #}
    </body>
</html>
