<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}EcoGaming{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        {% block stylesheets %}
		 <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
		<div class="navbar">
            <img src="{{ asset('img/ecogaming.png') }}" alt="Logo">
            <nav>
                <div class="adiv"><a href="/">EcoGaming</a></div>
                <div class="adiv"><a href={{ path("app_forumpost") }}>Forum</a></div>
                {% if user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="adiv"><a href=href={{ path("admin") }}>Page admin</a></div>
                    {% endif %}
                    <div class="adiv"><a href="href={{ path("app_logout") }}">{{ user.name }} : se déconnecter</a></div>
                {% else %}
                    <div class="adiv"><a href={{ path("app_login") }}>S'identifier</a></div>
                {% endif %}
            </nav>
        </div>
		
	 {% block body %}
         {% block javascripts %}
             <script src="{{ asset('js/bootstrap.min.js') }}"></script>
         {% endblock %}
     {% endblock %}

        <footer class="footer bg-dark py-3">
            <nav class="d-flex justify-content-center">
                <div class="adiv mt-0"><a href={{ path("app_contact") }}>Contact</a></div>
				<div class="adiv mt-0"><a href={{ path("app_mention") }}>Mentions légales</a></div>
                <span class="text-muted">© 2023 EcoGaming</span>
            </nav>
        </footer>

    </body>
</html>
