{% extends 'base.html.twig' %}

{% block title %}EcoGaming Forum{% endblock %}

{% block body %}

    {% if posts is empty %}
    <p>Aucun poste n'a été trouvé.</p>
    {% else %}

            <div class="container w-100">
                <h1 class="text-center mt-4">Forum</h1>

                <div class="row justify-content-around flex-wrap overflow-auto">

                    {% for post in posts %}
                        <div class="card text-center w-25 mt-4 p-0">
                            <div class="card-body">
                               <a href={{ path('app_forumpost', {'id':post.id})}} class="btn btn-primary"> <h5 class="card-title">{{ post.name }}</h5>  </a>
                                <h6 class="card-title muted">{{ post.description }}</h6>
                                <p class="card-text">{{ post.content }}</p>
                               </a>
                            </div>
                            <div class="card-footer text-muted">Publié par {{ post.created_id.name }} le  {{post.datePublication|date('Y-m-d')}} </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

    {% endif %}
{% endblock %}
