{% extends 'base.html.twig' %}

{% block title %}EcoGaming Forum{% endblock %}

{% block body %}

<div class="forum">
    {% if posts is empty %}
   <div class="forumempty"> <h1>Aucun poste n'a été trouvé.</41></div>
    {% else %}
    <div class="forumcontent">
        <h1>Forum</h1>
        <div class="foruminfo">
            {% for post in posts %}
				<a href={{ path('app_forumpost', {'id':post.id})}} > <h2>{{ post.name }}</h2>  </a>
                    <h3>{{ post.description }}</h3>
                    <p class="card-text">{{ post.content }}</p>
					<h4>Publié {#par {{ post.created_id.name }}  #} le  {{post.datePublication|date('Y-m-d')}} </h4>
            {% endfor %}
		</div>
    </div>

    {% endif %}
{% endblock %}
