{% extends 'base.html.twig' %}

{% block title %}EcoGaming Forum{% endblock %}


{% block body %}
    <div class="post">
    {% if post is empty %}
    <div class="nopost"> <p>Post non existant.</p></div>
    {% else %}
	<div class="postcontent">
        <h1>{{ post.name }}</h1>
        <h6>{{ post.description }}</h6>
        <p>{{ post.content }}</p>
        <h2>Créé par {{ post.created_id.name }} le </h2>
    </div>
	
        <div class="Réponses">Réponses <h1>({{ post.comments.count }})</h1></div>
                    {% for comment in post.comments %}
                        <h2>{{ comment.text }}</h2><h3> de {{ comment.user.name }}</h3>
                    {% endfor %}
        </div>
</div>


                <div class="card text-center w-100 mt-4 p-0 mb-4">
                    <div class="card-header">Repondre</div>
                    <div class="card-body">
                    {% if user %}
                        {{ form_start(commentForm, {'action': path('add_comment', {'id': post.id})}) }}
                            {{ form_widget(commentForm.text) }}
                            <button type="submit">Envoyer</button>
                        {{ form_end(commentForm) }}
                    {% else %}
                        <h6 class="card-title text-muted">Tu dois être connecté(e) pour ça!</h6>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
